BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

